<!doctype html5>
<html>
<head>
  <title>Login</title>
</head>
<body>

  <h2 style="color: blue;">Home</h2>

  <p>
    Go to Pages...
    <br><br>

    New User ?
    <br>
    <a href="{{ url_for('signup') }}">
      Signup <span style="color: red;">here</span>
    </a>
    <br><br>

    Already have Account ?
    <br>
    <a href="{{ url_for('login') }}">
      Login <span style="color: red;">here</span>
    </a>
    <br><br>

    Are you Curious ?
    <br>
    <a target="_blank" 
      href="https://github.com/imvickykumar999/flask-simple-login">
      Source Code

      <span style="color: red;">
        here
      </span>
    </a>
  </p>

</body>
</html>
