<!doctype html5>
<html>
  <head>
    <title>{{ username }} - Home</title>
  </head>
  <body>

    <h2>Hello {{username}}</h2>
    <h3>Bio : {{bio}}</h3>
    <h4 style="color: red;">Account Balance : {{disp}}</h4>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>
            <a href="/user/{{username}}">
              <h4>{{ message }}</h4>
            </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/account/{{username}}" method="post">
      Enter Amount :  <input type="text" name="money" required>
      <br><br>
      Send to Username : <input type="text" name="pay" required>
      <br><br>
      <input type="submit" text="Send Money" />
    </form>

    <!-- <br><br>
    <img src="../{{loc}}" 
      width="300px"
      alt="../{{loc}}"> -->

    <div class="welcome">
      <em style="color: red;">Welcome</em>
    </div>

    <p>
      <a href="{{ url_for('logout', username=username) }}">
        Logout
      </a>
    </p>

    <a href="{{ url_for('index') }}">
      Go to Home <span style="color: red;"></span>
    </a>

  </body>
</html>
